<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="Timestamp Microservice App - Free Code Camp Back-End">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Welcome to my Time Stamp Microservice API
      </h1>
    </header>

    <main>
      <p class="bold">
        by <a href = "https://atalero.github.io/" target="blank">Andres Talero</a>
      </p>
      <p>
      Call the API at<strong> https://timestamp-andres.glitch.me/	&lttime&gt</strong>  <br />  <br /> where &lttime&gt is either a unix time e.g.1450137600  
        or a natural language time e.g. December%2015,%202015 (url encoded) or December 15, 2015 (not URL encoded)
      </p>
    </main>
  </body>
</html>
